# Backend
Backend/node_modules/
Backend/.env

# Frontend
Frontend/node_modules/
Frontend/dist/

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment Files
.env
.env.local

# Build Files
build/
dist/